.gradle
build
gradle
gradlew
gradlew.bat
.idea
.vscode
*.iml
*.ipr
*.iws
.git
.gitignore
.github
HELP.md
.env
.env.local
.env.prod
.env.example
*.md
src/test
.DS_Store
Thumbs.db
